<%= form_for @subcontractor do |f| %>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>
  <p><%= f.label :first_name %></p>
  <p><%= f.text_field :first_name %></p>
  <p><%= f.label :last_name %></p>
  <p><%= f.text_field :last_name %></p>
  <p><%= f.label :phone %></p>
  <p><%= f.text_field :phone %></p>
  <p><%= f.submit "Sign up" %></p>
<%- end %>
