<%- if user_signed_in? %>
<h4><%= subcontractor.first_name %> <%= subcontractor.last_name %></h4>
<p><%= subcontractor.user.email %></p>
<p><%= subcontractor.phone %></p>
<table><tr><th>Date</th><th>Client ID</th><th>Miles</th></tr>
<%= render subcontractor.mileage_records %></table>
<%- else %>
<p>You are not signed in.</p>
<%- end %>
