<%- if subcontractor_signed_in? %>
<div id="subcontractor">
	<p><%= subcontractor.first_name %> <%= subcontractor.last_name %></p>
	<p><%= subcontractor.email %></p>
	<p><%= subcontractor.phone %></p>
</div>
<h5>Mileage Records</h5>
<table><tr><th>Date</th>
	<%- if current_page?('/') %>
		<th>Client</th>
	<%- else %>
		<th>Subcontractor</th>
	<%- end %>
	<th style="text-align:center">Miles</th>
	<th style="text-align:center">Hours</th></tr>
<%= render subcontractor.mileage_records %></table>
<%- else %>
<div class="notice">"Remebering how to do things correctly is difficult,but we never forget our mistakes", Unknown</div>
<div class='landing_image_wrapper'><%= image_tag ('nutrition.jpg'), :class => 'landing_image' %></div>
<%- end %>
