<tr>
	<td><%= mileage_record.date %></td>
<%- if current_page?('/') %>
	<td><%= mileage_record.client.name %></td>
<%- else %>
	<td><%= mileage_record.subcontractor.first_name %> <%= mileage_record.subcontractor.last_name %></td>
<%- end %>
<td style="text-align:center"><%= mileage_record.miles %> @ .55 cents = $<%- total_miles = mileage_record.miles.to_f*55/100 %><%= total_miles.round %></td>
<td style="text-align:center"><%= mileage_record.hours %> @ $30.00 = $<%- total_hours = mileage_record.hours.to_f*30 %><%= total_hours.round %></td>
</tr>
