<tr>
	<td><%= mileage_record.date %></td>
<%- if current_page?('/') %>
	<td><%= mileage_record.client.name %></td>
<%- else %>
	<td><%= mileage_record.subcontractor.first_name %> <%= mileage_record.subcontractor.last_name %></td>
<%- end %>
<td style="text-align:center"><%= mileage_record.miles %></td>
<td style="text-align:center"><%= mileage_record.hours %></td>
</tr>
