<h4><%= client.name %></h4>
<p><%= client.contact %></p>
<p><%= client.email %></p>
<p><%= client.phone %></p>
<table><tr><th>Date</th>
	<%- if current_page?('/') %>
		<th>Client</th>
	<%- else %>
		<th>Subcontractor</th>
	<%- end %>
<th>Miles</th></tr>
<%= render client.mileage_records %></table>