<tr>
	<td><%= job_log.date %></td>
	<td><%= job_log.client.name %></td>
	<td style="text-align:center"><%= job_log.miles %></td>
	<td style="text-align:center"><%= number_to_currency(job_log.total_miles_rate) %></td>
	<td style="text-align:center"><%= job_log.hours %></td>
	<td style="text-align:center"><%= number_to_currency(job_log.total_hours_rate) %></td>
</tr>
