<!DOCTYPE html>
<html>
<head>
  <title>MileageTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
    $(function() {
        $( "#mileage_record_date" ).datepicker();
    });
    </script>
</head>
<body>
		<header><%= image_tag ('logo.png'), height: '100px' %></header>
		<div id="nav"><%- if subcontractor_signed_in? %>
		<%= link_to " My Profile", :root %> | 
		<%= link_to " Record Mileage", new_mileage_record_path %> | 
		<%= link_to "Sign Out", destroy_subcontractor_session_path, method: :delete %> | 
<%- else %>
		<%= link_to "Sign Up", new_subcontractor_registration_path %> | 
		<%= link_to "Sign In", new_subcontractor_session_path %> | 
		<%= link_to "Admin Sign In", new_admin_user_session_path %> | 
	<%- end %></div>
	<%- flash.each do |type, message| %>
	  <div class="notice">There was a <%= type %> for you. <%= message %></div>
	<%- end %>
<section><%= yield %></section>
<footer>Copyright © 2012 Ben Bridges</footer>
</body>
</html>
