<!DOCTYPE html>
<html>
<head>
  <title>MileageTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
		<header><h1>Mileage Tracker</h1></header>
		<div id="nav"><%- if subcontractor_signed_in? %>
		<%= link_to " My Profile", :root %> | 
		<%= link_to " Record Mileage", new_mileage_record_path %> | 
		<%= link_to "Sign Out", destroy_subcontractor_session_path, method: :delete %> | 
<%- else %>
		<%= link_to "Sign Up", new_subcontractor_registration_path %> | 
		<%= link_to "Sign In", new_subcontractor_session_path %> | 
	<%- end %></div>
	<%- flash.each do |type, message| %>
	  <div class="notice">There was a <%= type %> for you. <%= message %></div>
	<%- end %>
<section><%= yield %></section>
<footer>Copyright © 2012 Ben Bridges</footer>
</body>
</html>
